@import "../../node_modules/normalize-css-ultimate/normalize-ultimate.css";
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

.header {
  position: relative;
}
.header__about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 600px) {
  .header__about {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 30px 0;
}
.header__text-info {
  width: 70%;
}
.header__avatar {
  width: 20%;
  max-height: 60%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 600px) {
  .header__avatar {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.header__name {
  text-align: center;
  font-size: 33px;
  margin: 0 0 0.1em 0;
}
@media (max-width: 600px) {
  .header__name {
    font-size: 29px;
  }
}
.header__profession {
  text-align: center;
  font-size: 23px;
  margin: 0 0 1.1em 0;
}
@media (max-width: 600px) {
  .header__profession {
    font-size: 20px;
  }
}

.header-about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  margin: 0 0 1.5em 0;
}
@media (max-width: 600px) {
  .header-about-item {
    font-size: 14px;
  }
}
.header-about-item__icon {
  margin-right: 10px;
  font-size: 17px;
}
.header-about-item__text {
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.info-block {
  font-size: 20px;
}
@media (max-width: 600px) {
  .info-block {
    font-size: 17px;
  }
}
.info-block__container {
  padding: 1.5em 0 2.5em 0;
  border-top: #04287c 2px solid;
  position: relative;
}
.info-block__title {
  padding: 0 0.86em;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  background: #ffffff;
  font-size: 23px;
  color: #042c98;
  word-break: break-all;
}
@media (max-width: 600px) {
  .info-block__title {
    font-size: 19px;
  }
}
.info-block__text {
  margin: 0;
}
.info-block__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
}
@media (max-width: 600px) {
  .info-block__grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.info-block__grid-text {
  text-align: center;
  padding: 0;
  margin: 0;
}

.info-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin: 0 0 1.3rem 0;
}
.info-block-item__column {
  width: 33%;
}
.info-block-item__title {
  text-align: center;
}
.info-block-item__period {
  text-align: center;
}
.info-block-item__description {
  margin: 0 0 0 2em;
}

.job-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.job-info__block {
  width: 33%;
}
@media (max-width: 600px) {
  .job-info__block {
    width: 50%;
  }
}

.languages-info__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.education-info__item:nth-last-child(1) {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */