<header class="header">
  <div class="container header__container">
    <div class="header__text-info">
      <div class="header__title">
        <h1 class="header__name">Кабак Людмила</h1>
        <h2 class="header__profession">Письмовий/усний перекладач</h2>
      </div>
      <div class="header__about header-about">
        <div class="header-about__item header-about-item">
          <i class="header-about-item__icon fa-solid fa-phone"></i>
          <p class="header-about-item__text">+380 66 016 90 73</p>
        </div>
        <div class="header-about__item header-about-item">
          <i class="header-about-item__icon fa-solid fa-location-dot"></i>
          <p class="header-about-item__text">Полтава, Україна</p>
        </div>
        <div class="header-about__item header-about-item">
          <i class="header-about-item__icon fa-solid fa-envelope"></i>
          <p class="header-about-item__text">likabak1205@gmail.com</p>
        </div>
      </div>
    </div>
    <img src="img/avatar.jpeg" alt="avatar" class="header__avatar" />
  </div>
</header>
