// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "vendor";

// подключения компонентов страницы

$font-size: 20px;

@import "./components/header";

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.info-block {
  font-size: $font-size;
  &__container {
    padding: 30px 0 40px 0;
    border-top: #04287c 2px solid;
    position: relative;
  }
  &__title {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    background: #ffffff;
    font-size: 23px;
    color: #042c98;
  }
  &__text {
    margin: 0;
  }
  &__item {
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__grid-text {
    text-align: center;
    padding: 0 10px;
  }
}
.info-block-item {
  display: flex;
  font-size: $font-size;
  &__column {
    width: 33%;
  }
  &__title {
    text-align: center;
  }
  &__period {
    text-align: center;
  }
  &__description {
    margin: 0 0 0 40px;
  }
}
.job-info {
  &__container {
    display: flex;
  }
  &__block {
    width: 33%;
  }
}
.languages-info {
  &__item {
    align-items: center;
    margin: 0 0 20px 0;
  }
}
.education-info {
  &__item {
    margin: 0 0 25px 0;
    &:nth-last-child(1) {
      margin: 0;
    }
  }
}
