// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "vendor";

// подключения компонентов страницы

$font-size: 20px;

@import "./components/header";

html {
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.info-block {
  font-size: $font-size;
  @media (max-width: 600px) {
    font-size: 17px;
  }
  &__container {
    //padding: 30px 0 40px 0;
    padding: 1.5em 0 2.5em 0;
    border-top: #04287c 2px solid;
    position: relative;
  }
  &__title {
    padding: 0 0.86em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    background: #ffffff;
    font-size: 23px;
    color: #042c98;
    word-break: break-all;
    @media (max-width: 600px) {
      font-size: 19px;
    }
  }
  &__text {
    margin: 0;
  }
  &__item {
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5em;
    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  &__grid-text {
    text-align: center;
    //padding: 0 10px;
    padding: 0;
    margin: 0;
  }
}
.info-block-item {
  display: flex;
  font-size: $font-size;
  margin: 0 0 1.3rem 0;
  &__column {
    width: 33%;
  }
  &__title {
    text-align: center;
  }
  &__period {
    text-align: center;
  }
  &__description {
    margin: 0 0 0 2em;
  }
}
.job-info {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    width: 33%;
    @media (max-width: 600px) {
      width: 50%;
    }
  }
}
.languages-info {
  &__item {
    align-items: center;
  }
}
.education-info {
  &__item {
    &:nth-last-child(1) {
      margin: 0;
    }
  }
}
